body {
  font-family: 'Cormorant Garamond';
}

.pl0 {
  font-family: 'Raleway';
}

h2 {
  font-family: 'Cormorant Garamond';
}

h1, h3, h4, h5, h6 {
  font-family: 'Raleway';
}

.f1, .f2, .f3 {
  font-family: 'Raleway';
}

.f6 {
  
  font-size: 18px;

}
p {
  font-family: 'Cormorant Garamond';
  font-size: 24px;
}

.footnote {
  font-size: 32px;
  font-variant: small-caps;
}

.pullquote {
font-size: 1.4em;
  width:110%;
  margin:50px auto;
  font-family: 'Raleway';
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #78C0A8 ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

.pullquote::before{
  font-family:Arial;
  content: "\201C";
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

.pullquote::after{
  content: '';
}

.pullquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}