body {
  font-family: 'Josefin Sans';
}

.f3 {
  font-family: 'Josefin Sans';
  font-size: 28px;
}
.f6 {
  font-family: 'Crimson Text';
  font-size: 18px;
}

p {
  font-family: 'Crimson Text';
  font-size: 22px;
}
h3, h4, h5, h6 {
  font-family: 'Josefin Sans';
}
