body {
  font-family: 'Cormorant Garamond';
}

.pl0 {
  font-family: 'Rubik';
}

h2 {
  font-family: 'Cormorant Garamond';
}

h1, h3, h4, h5, h6 {
  font-family: 'Rubik';
}

.f1, .f2, .f3 {
  font-family: 'Rubik';
}

.f6 {
  
  font-size: 18px;

}
p {
  font-family: 'Cormorant Garamond';
  font-size: 24px;
}
